// config
@import "./utils/config";

// body
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: url("../images/bg-top.svg") top -2.5rem right -13rem / contain
    no-repeat;
  background-color: $cl-VeryLightGrayishBlue;
}

// header
.header {
  display: grid;
  margin-top: 3rem;
  gap: 2.5rem 0;
  text-align: center;
  &-content {
    display: flex;
    justify-content: center;
    gap: 0 1.5rem;
    align-items: center;

    h2 {
      color: $cl-LightGrayishBlue;
      font-size: 1rem;
    }
    .checkbox-slider {
      position: relative;
      height: 2rem;
      width: 3.5rem;
      border-radius: $radius-3;
      background: $gradient;
      cursor: pointer;
      transition: $transition-2;
      input {
        display: none;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(110%, 15%);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: $radius-4;
        background: white;
        transition: $transition-3;
      }
      input:checked + span {
        transform: translate(20%, 15%);
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// main
main {
  width: min(85vw, 1140px);
  .cards-container {
    display: grid;
    gap: 2rem;
    padding: 5rem 0;
    #card {
      text-align: center;
      border-radius: $radius-2;
      padding: 2rem;
      .card-header {
        color: inherit;
        margin-bottom: 1.5rem;
      }
      .card-cast {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding-bottom: 1.5rem;
        font-size: 3rem;
        color: inherit;
        border-bottom: 1px solid lighten($cl-LightGrayishBlue, 10);
        span {
          font-size: 5rem;
        }
      }
      p {
        padding: 1.1rem 0;
        border-bottom: 1px solid lighten($cl-LightGrayishBlue, 10);
        color: inherit;
      }
      .card-btn {
        font-family: inherit;
        font-weight: inherit;
        border: 1px solid transparent;
        width: 100%;
        margin-top: 2rem;
        color: white;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 0.9rem 0;
        border-radius: $radius-1;
        transition: $transition-2;
      }
    }
    .card-1,
    .card-3 {
      @extend #card;
      background: white;
      color: $cl-DarkGrayishBlue;
      .card-btn {
        background: $gradient;
        &:hover {
          border-color: $cl-DarkGrayishBlue;
          color: $cl-DarkGrayishBlue;
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .card-2 {
      @extend #card;
      background: $gradient;
      color: white;
      .card-btn {
        background: white;
        color: $cl-DarkGrayishBlue;

        &:hover {
          border-color: white;
          color: white;
          background: $gradient;
        }
      }
    }
  }
}

// footer
@import "./components/footer";

// queries
@import "./utils/queries.scss";
