// Colors

// Primary

$gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

// Neutral

$cl-VeryLightGrayishBlue: hsl(240, 78%, 98%);
$cl-LightGrayishBlue: hsl(234, 14%, 74%);
$cl-GrayishBlue: hsl(233, 13%, 49%);
$cl-DarkGrayishBlue: hsl(232, 13%, 33%);

// other variables
$radius-1: 5px;
$radius-2: 10px;
$radius-3: 25px;
$radius-4: 75px;
$transition-1: all 150ms ease-in-out;
$transition-2: all 250ms ease-in-out;
$transition-3: all 350ms ease-in-out;
